$richBlack: #0C1618;
$brunswick: #004643;
$cornsilk: #FAF4D3;
$gold: #d1ac00;
$peach: #f6be9a;
$averageGoldPeach: #E4B54D;
//$secondaryColor: #42b02e;
$blackColor: #000000;
$whiteColor: #e2e3e7;
$clearWhiteColor: #FFFFFF;
$grayColor: #a2a2a2;
$blueColor: #5ca1ff;
$emeraldColor: #008b66;
$orangeColor: #ff6f17;
$lightBlackColor: #232529;
$grayColor: #a2a2a2;
$lightGrayColor: #c4c7cf;
$darkGrayColor: #292c31;
$darkerGrayColor: #2b2c31;
