@import "./src/components/shared/colors";

.comment {
  position: relative;

  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin-top: 1.5rem;

  color: $richBlack;
  background-color: $whiteColor;
  box-shadow: 0 0 1.0rem 0.2rem $richBlack;
  border-radius: 0.5rem;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 7px;

    background-color: $grayColor;
  }

  &__title {
    position: relative;
    font-size: x-large;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;

      height: 3px;
      width: 70%;

      background-color: $grayColor;
    }
  }

  &__review {
    margin-top: 0.5rem;  }
  &__title, &__review {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}