@import "./src/components/shared/colors";

.film-cover {
  max-width: 300px;
  height: 32rem;

  //display: flex;
  //flex-wrap: wrap;
  &__img-container {
    position: relative;
    height: 87%;

    overflow: hidden;
    border-radius: 1rem;
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__rating {

    //rotate: 45deg;
  }
}

@media screen and (width <= 980px) {
  .film-cover {
    max-width: 170px;
    height: 18rem;
  }
}
