@import "./src/components/shared/colors";

img {
  width: 100%;
}

.film {
position: relative;
  //overflow: hidden;

  &__container {
    display: flex;
    flex-direction: row-reverse;
  }

  &__cover-container {
    width: 30%;
    margin-left: 1rem;
  }

  &__rating-container {
    display: flex;
    justify-content: left;
    gap: 5rem;

    padding: 0 0.5rem;
  }

  &__information-container {
    width: 70%;
  }
  &__background-text-container{
    width: 100%;
    height: 100%;

    position: relative;
    //overflow: hidden;
    //text-overflow: clip;
    //white-space: pre-wrap;
  }
  &__background-text{
    margin: 0;
    width: 3000px;
    height: 200vh;
    position: absolute;
    z-index: 1;
    top: 100px;
    left:-20%;
    rotate: 33deg;

    //color: gray;
    //font-size: 400px;
    //font-weight: bolder;
  }
  &__description {
    background-color: $peach;
  }
}