* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.background-noise {
    /*background-image: url(https://static.tildacdn.com/tild3265-3261-4333-a361-353739633737/noise.gif);*/
    background-image: url('../src/components/shared/images/noise.gif');
    background-size: 200px;
    opacity: 0.065;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.article {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.wrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    font-size: 12px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 34px;
}

input {
    font-size: 15px;
}

@media screen and (width <= 980px) {
    h1 {
        font-size: 10px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 28px;
    }
}
